<footer class="site-footer">

	<div class="wrapper">

		<div class="footer-col-wrapper">

			<div>
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %}
				</ul>
			</div>

		</div>

	</div>

</footer>

<script type="text/javascript" src='/js/jquery.min.js'></script>

<script type="text/javascript">

	var a = "\n                                   _                                         \n _ __  _   _ _ __ ___  _ __   __ _| | ___  _ __   __ _   ___  __ _ _   _   _ \n| '_ \\| | | | '__/ _ \\| '_ \\ / _` | |/ _ \\| '_ \\ / _` | / __|/ _` | | | | (_)\n| |_) | |_| | | | (_) | | | | (_| | | (_) | | | | (_| | \\__ \\ (_| | |_| |  _ \n| .__/ \\__,_|_|  \\___/|_| |_|\\__, |_|\\___/|_| |_|\\__, | |___/\\__,_|\\__, | (_)\n|_|                          |___/               |___/             |___/     \n          _                                                                  \n  /\\  /\\ (_)                                                                 \n / /_/ / | |                                                                 \n/ __  /  | |                                                                 \n\\/ /_/   |_|            😃";
    console.info(a);

	document.addEventListener('visibilitychange', function() {
                document.title = document.hidden ? '崩溃了，来看一下':'小龙龙的个人博客~'
            });
</script>
<script type="text/javascript">
	var offsetTop = 300;
	var to_top_arrow = $('.to-top');
	$(window).scroll(function(){
		
		($(this).scrollTop() > offsetTop) ? to_top_arrow.addClass('to-top-arrow') : to_top_arrow.removeClass('to-top-arrow');
	});

	to_top_arrow.on('click', function(event){
		event.preventDefault();
		$('body,html').animate({
			scrollTop: 0,
			
		});
	});
</script>
