<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<div class="device">
			<p>移动适配稍后推出，敬请期待~</p>
			<p>亲，请在电脑端打开哦~😄</p>
			<p>www.puronglong.com</p>
		</div>

		{% include tag.html %}
		
		<div class="pull-left left-sidebar">
			<ul class="header-list">
				<li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
				<li><a class="page-link" href="/about/">About</a></li>
				<li><a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
			</ul>
		</div>
		<div class="page-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		<a href="#" class="to-top">Top</a>

		{% include footer.html %}

	</body>

</html>
