<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}
<div class="entry-header">
  <!--{% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div>/.image-credit{% endif %}-->
  {% if page.image.feature %}
    <div class="entry-image">
        <img id="headerPic">
    </div><!-- /.entry-image -->
  {% endif %}
    <div class="header-title">
        <div class="header-title-wrap">
            <h1>{{ site.title }}</h1>
            <h2>{{ page.title }}</h2>
        </div><!-- /.header-title-wrap -->
    </div><!-- /.header-title -->
  <span id="headerPicDesc" style="position:absolute;right:5px;bottom:5px;color:rgb(204, 194, 194)"></span>
</div><!-- /.entry-header -->
<script type="text/javascript">
  var picData = [{
    src : 'http://7vznhl.com1.z0.glb.clouddn.com/image-dog.jpg',
    desc : '小小的天，有大大的梦想'
  },{
    src : 'http://7vznhl.com1.z0.glb.clouddn.com/image-background1.jpg',
    desc : 'code of friedship'
  },{
    src : 'http://7vznhl.com1.z0.glb.clouddn.com/image-huoyin.jpg',
    desc : '《火影》给了少年一个成人梦，《海贼》给了成人一个少年梦'
  }],
  picIndex = ((new Date).getMinutes() +1) % picData.length,
  curDate = picData[picIndex],
  headerPic = document.getElementById('headerPic'),
  headerPicDesc = document.getElementById('headerPicDesc');

  headerPic.setAttribute('src', curDate.src);    
  headerPicDesc.innerHTML = curDate.desc;    
</script>

<iframe frameborder="no" border="0" marginwidth="0" style="float: right;" 
marginheight="0" width=200 height=220 
src="http://music.163.com/outchain/player?type=0&id=95267608&auto=0&height=430">
</iframe>

<embed src="http://files2.17173.com/__flash/2011/10/21/honehone_clock_tr.swf" width="220" height="80" 
type="application/x-shockwave-flash" quality="high" wmode="transparent"
style=" width: 200px; position:relative; margin-top:10px; padding:0px; float:left">

<p style="position:fixed"><a href="javascrip:;"class="cd-top">Top</a></p>

<div id="main" role="main" style="margin-top:10px">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
    <footer role="contentinfo">
    {% include footer.html %}
    </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

<script type="text/javascript">
    jQuery(document).ready(function($){
    // browser window scroll (in pixels) after which the "back to top" link is shown
    var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
        // offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
        scroll_top_duration = 800,
        //grab the "back to top" link
        $back_to_top = $('.cd-top');

    //hide or show the "back to top" link
    $(window).scroll(function(){
        ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        // if( $(this).scrollTop() > offset_opacity ) { 
        //     $back_to_top.addClass('cd-fade-out');
        // }
    });
    //smooth scroll to top
    $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
            scrollTop: 0 ,
            }, scroll_top_duration
        );
    });

});
</script>    

</body>
</html>
